---
import { getCollection } from 'astro:content';
import DebugLayout from '@layouts/DebugLayout.astro';
import { getDocsExampleContents } from '@components/docs/utils/pageData';

import { GridDocsExample } from '@ag-website-shared/components/docs-examples/components/GridDocsExample';

const pages = await getCollection('docs');
const exampleContents = await getDocsExampleContents({ pages });
---

<DebugLayout title={`Debug: Docs Example Pages`}>
    <h1>Docs Example Pages</h1>
    <GridDocsExample client:load exampleContents={exampleContents} />
</DebugLayout>
